*{
    margin: 0;
    padding: 0;
}
body{
    color: #a6b5be;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainhome {
    background-image: url("https://i.pinimg.com/originals/92/98/b8/9298b8aa90e9bc71a6162878ee24cbeb.gif");
    background-size: cover;
    background-repeat: no-repeat;


    display: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulos {
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.como-jogar {
    padding: 20px;
    background-color: #0658326c;
    display: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.como-jogar p {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
}

.modos {
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.modos button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    width: 150px;
    height: 150px;
    background-color: #9191999d;
    color: #ffffff;
    border: solid 2px #181821;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.modos a {
    text-decoration: none;
    color: #ffffff;
}
.modos button:hover {
    background-color: #3b5f6d;
}

.maingame {
    background-image: url("https://i.pinimg.com/originals/01/40/cb/0140cbe44dae11035a7e73cffa930133.gif");
    background-size: cover;
    background-repeat: no-repeat;


    display: row ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dicaTxt{
    font-size: 30px;
    color: #ffffff;
    margin: 10px;
    text-shadow: 2px 2px 4px #000000;
}
.dicaBut {
    display: inline-block;
    padding: 1px 2px;
    font-size: 18px;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    color: #000000;
    border: solid 2px #181821;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dicaBut:hover {
    background-color: #1b566d;
    color: #ffffff;
}

.jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

.artic {
    display: row;
    text-shadow: 2px 2px 4px #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 20px;
    background-color: #3b4a504f;
    padding: 20px;
}
.artic p {
    font-size: 25px;
    color: #ffffff;
    margin: 10px;
}

.hist {
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    display: block;
    justify-content: center;
    align-items:start;
    gap: 20px;
    margin: 20px;
    min-height: 100px;
    background-color: #54585a8e;
    padding: 20px;
}
.hist ul {
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #064158;
    padding: 10px;
    border-bottom: 3px solid #181821;
}
header h1{
    font-size: 40px;
    color: #ffffff;
    margin:20px;
}
header a img{
    margin: 10px;
    border-radius: 25%;
    border: 2px solid #181821;
    box-shadow: 0px 0px 10px #181821;
}
.asideDica {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 45px;
    border-radius: 10px;
    
}

.caixaSenha {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.entrar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3b5f6d;
    color: #ffffff;
    border: solid 2px #181821;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}