*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;

    background-image: url("https://i.pinimg.com/736x/5b/7e/60/5b7e60acf1501eb475e9702f401aaa96.jpg");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    background-color: #182c3e;
    padding: 0px;
    border-bottom: 3px solid #181821;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}
.container{
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.header img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
}

.logo{
    font-size: 35px;
}

.hero {
    color: #4d5d46;
    width: 100%;
    max-width: 1000px;
    margin: 60px auto;

    display: flex;
    justify-content: center;
    text-align: center;
}

.hero h2{
    margin-bottom: 15px;
    font-size: 25px;
}

.hero p{
    margin-bottom: 30px;
    line-height: 28px;
}

#calculadora {
    width: 550px;
    height: 650px;
    padding: 150px;
    border: 6px solid #7faa7e;

    background-image: url("https://i.pinimg.com/736x/ad/85/09/ad85099aea1a179e7945551ddbb17033.jpg");
    background-size: 815px;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50% 50% 35% 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

input,
select{
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    border: 2px solid #d9eacb;
    border-radius: 10px;

    font-size: 16px;
}

input:focus,
select:focus{
    outline: none;
    border-color: #8ebd7a;
}
.botoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
button{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

#botaoCalcular{
    background-color: #8ebd7a;
    color: white;
}

#botaoCalcular:hover{
    background-color: #79a967;
    box-shadow: 0px 0px 10px #44596880;
}

#botaoLimpar{
    background-color: #c8e6f4;
}

#botaoLimpar:hover{
    background-color: #a6cde9;
    box-shadow: 0px 0px 10px #44596880;
}

#resultado{
    margin: 5px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
}

.hero img{
    width: 250px;
    margin-top: 30px;
    border-radius: 20px;
}
#lily{
    display: none;
    width: 250px;
    margin: 20px auto 0;
}